body{
    background-color: #96C9F4;
    cursor: pointer;
}

/* Ensure the right-side div is fixed in size and scrollable */
.scrollable-div {
    background-color: transparent;
    margin-top: 2%;
    height: 40vh; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    border: 1px solid #3FA2F6; /* Optional border for visibility */
    padding: 0px; /* Optional padding */
}

/* Style for text boxes */
.text-box , .kr-series{
    background-color: transparent;
    color: #0F67B1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1%; /* Space between text boxes */
    padding: 1px;
}
.text-box:hover , .kr-series:hover{
    background-color: #3FA2F6;
    color:#FAFFAF;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 62.50%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  .btn{
    color: #0F67B1;
  }
